<%= form_for @record, url: record_attachment_path(@record, 'Archival.pdf') do |f| %>
  <h4>Archival PDF</h4>
  <%= render 'attachments/files_form/upload', dsid: 'Archival.pdf', record: @record %>
<% end %>

<%= form_for @record, url: record_attachment_path(@record, 'Transfer.binary') do |f| %>
  <h4>Transfer Binary</h4>
  <%= render layout: 'attachments/files_form/upload',
      locals: { dsid: 'Transfer.binary', record: @record } do %>
      <% unless @record.datastreams['Transfer.binary'].new? %>
        <%= link_to 'Remove', record_attachment_path(@record, 'Transfer.binary'), class: 'btn btn-danger remove-attachment', data: { confirm: 'Are you sure you want to delete Transfer.binary?', method: :delete } %>
      <% end %>
  <% end %>
<% end %>

