<div class="col-sm-12">
  <h1>Batch Status</h1>

  <%= link_to "All batches", batches_path %>

  <% missing = resource.missing_files %>
  <% unless missing.blank? %>
    <div class="alert alert-warning">
      <strong>Warning:</strong> Metadata exists for the following files that have not been updated:<br/>
      <ul>
        <% missing.each do |file| %>
          <li><%= file %></li>
        <% end %>
      </ul>
      <%= link_to "add additional files to this batch", edit_batch_xml_import_path(resource) %>
    </div>
  <% end %>

  <%= render 'batch_info', batch: resource %>
  <%= render "batches/batch_actions", batch: resource %>
  <%= render "batch_items", batch: resource %>

</div>

