<h1> Template-based Batch Import </h1>

<div class="alert">
  <strong>NOTE:</strong> PIDs will be assigned automatically for objects created via template import
</div>

<%= bootstrap_form_for @batch, as: :batch, url: batches_path do |f| %>
  <% if @batch.errors[:base].present? %>
    <div class="alert alert-danger">
      <h4>There were errors that prevented this Batch template import from being saved:</h4>
      <ul>
        <% @batch.errors[:base].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :type %>
  <%= f.select :template_id, options_from_collection_for_select(TuftsTemplate.active, :id, :template_name, @batch.template_id), prompt: 'Select a Template' %>
  <%= f.select :record_type, options_for_select(sorted_object_types.reject{|x| x.include? 'TuftsTemplate'}, selected: @batch.record_type), prompt: 'Select an object type' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
  <%= link_to "Cancel", root_path, :class=>'btn btn-default' %>
<% end %>
