  <h1>Tufts Digital Library Admin</h1>

  <h2>Admin</h2>
  <nav>
    <ul>
      <li><%= link_to 'Create a new object', hydra_editor.new_record_path %></li>
      <li><%= link_to 'Unpublished objects', unpublished_index_path %></li>
      <li><%= link_to 'Handle.net log', handle_logs_path %></li>
    </ul>
  </nav>

  <h2> Self Deposit </h2>
  <nav>
    <ul>
      <li><%= link_to 'Manage self-deposit types', deposit_types_path %></li>
      <li><%= link_to 'Contribute a new Self-Deposit item', contributions_path %></li>
    </ul>
  </nav>

  <h2> Batch Operations </h2>
  <nav>
    <ul>
      <li> <%= link_to 'View Batch Statuses', batches_path %> </li>
      <li> <%= link_to 'Manage metadata templates', templates_path %> </li>
      <li> <%= link_to 'Start a Template-based import', new_batch_template_import_path %> </li>
      <li> <%= link_to 'Import Archival Content', new_batch_xml_import_path %> </li>
      <li> <%= link_to 'Replace Raw Metadata', new_batch_metadata_import_path %> </li>
    </ul>
  </nav>


