<% # container for all documents in index view -%>
<div id="documents">
  <%= check_box_tag 'check_all', 'yes', @all_checked %>

  <%= button_to "Apply Template", new_batch_template_update_path, method: :get, class: "btn btn-primary", data: { behavior: 'batch-create' } %>

  <%= button_to "Publish", batch_publishes_path, class: "btn btn-primary", data: { behavior: 'batch-create' } %>

  <% unless controller.is_a?(UnpublishedController) %>
    <%= button_to "Unpublish", batch_unpublishes_path,
      class: "btn btn-primary",
      data: { behavior: 'batch-create' } %>
  <% end %>

  <%= button_to "Revert", batch_reverts_path,
    class: "btn btn-primary",
    data: { confirm: "All pending edits will be reverted for the selected records.  This action cannot be undone. Do you wish to proceed?",  behavior: 'batch-create' } %>


  <div class="exportButtonWrapper dropdown" style="display: inline;">
    <button id="exportButton" class="btn btn-primary" type="button" data-toggle="dropdown" data-behavior="batch-create" aria-haspopup="true" aria-expanded="False">
      Export...

      <span class="caret"></span>
    </button>

    <%= render partial: 'catalog/export_datastream_form' %>
  </div>

  <div id='selected_documents_count'> <br /> </div>

  <%= render documents, as: :document %>
</div>
