<%= render partial: 'show_default', locals: {document: document} %>

<h3>Archival Video</h3>
<%= link_to "Download", download_path(document.id, datastream_id: 'Archival.video') %>
<% if (document['object_type_ssim']||[]).include? 'Text' %>
<h3>XML</h3>
<%= link_to "Download", download_path(document.id, datastream_id: 'ARCHIVAL_XML') %>
<% end %>
<h3>Access Video</h3>
<video controls>
  <source src="<%= download_path(document.id, datastream_id: 'Access.webm') %>"
   type='video/webm;codecs="vp8, vorbis"'/>
  <source src="<%= download_path(document.id, datastream_id: 'Access.mp4') %>"
   type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
</video>
