<div id="sortAndPerPage">
   <div class="page_links">
     <%= render partial: 'paginate_compact', object: @response %>
   </div>
    <%= render 'sort_widget' %>

    <%= render 'per_page_widget' %>

    <%= batch_edit_tools %>

    <%= render 'view_type_group' %>
</div>
